* {
    box-sizing: border-box;
}

body {
    font-size: 20px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 1em;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

header {
    padding-bottom: 0.5rem;
}

.main-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.main-nav li {
    margin: 0;
}

.media-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

hr {
    margin-top: 50px;
}

.gallery {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

@media (min-width: 768px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .main-nav {
        display: flex;
        justify-content: flex-end;
        gap: 20px;
    }

    .main-nav li {
        display: block;
        margin: 0;
    }

    .media-card-container .media-card {
        flex-direction: row;
        align-items: flex-start;
    }

    .media-card-image {
        flex: 0 0 380px;
        max-width: 380px;
    }

    .media-card-content {
        flex: 1;
    }

    .gallery {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .gallery .media-card {
        flex: 1 1 calc(50% - 2rem);
        flex-direction: row;
        align-items: flex-start;
    }

    .gallery .media-card-image {
        flex: 0 0 140px;
        max-width: 140px;
    }
}